#remove html file extension https://portfolio-rishabh-singh.vercel.app//index.html
# to https://portfolio-rishabh-singh.vercel.app//Home
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
#remove html file extension https://portfolio-rishabh-singh.vercel.app//experience.html
# to https://portfolio-rishabh-singh.vercel.app//experience
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
#remove html file extension https://portfolio-rishabh-singh.vercel.app//techstack.html
# tohttps://portfolio-rishabh-singh.vercel.app//techstack
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
#remove html file extension https://portfolio-rishabh-singh.vercel.app//projects.html
# to https://portfolio-rishabh-singh.vercel.app//projects
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
#remove html file extension https://portfolio-rishabh-singh.vercel.app//research.html
# to https://portfolio-rishabh-singh.vercel.app//research
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
#remove html file extension https://portfolio-rishabh-singh.vercel.app//education.html
# to https://portfolio-rishabh-singh.vercel.app//education
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
